html {
    scroll-behavior: smooth;
}

.navbar-title {
    font-family: monospace;
}

.landing-section {
    margin-top: 64px;
}

@media (min-width: 992px) {
    .card-content {
        height: 19rem;
    }
}
